@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --color-brand-1: hsl(236, 100%, 87%);
  --color-brand-2: hsl(235, 45%, 61%);

  --color-site-1: hsl(226, 43%, 10%);
  --color-site-2: hsl(246, 80%, 60%);
  --color-site-3: hsl(235, 46%, 20%);

  --color-site-work: hsl(15, 100%, 70%);
  --color-site-play: hsl(195, 74%, 62%);
  --color-site-study: hsl(348, 100%, 68%);
  --color-site-exercise: hsl(145, 58%, 55%);
  --color-site-social: hsl(264, 64%, 52%);
  --color-site-self-care: hsl(43, 84%, 65%);

  --font-rubik: "Rubik", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-rubik);
}

html {
  font-size: 62.5%;
}

.UserCardBox {
  background-color: var(--color-site-3);
  border-radius: 1rem;
}

.UserCardBox-UserBox {
  display: grid;
  grid-template-columns: 5rem calc(100% - 6rem);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--color-site-2);
  border-radius: 1rem;
}

.UserCardBox-UserBox > img {
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--color-brand-1);
  border-radius: 50%;
}

.UserCardBox-UserBox > div > p {
  color: var(--color-brand-1);
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}

.UserCardBox-UserBox-UserName {
  font-size: 2.2rem;
  color: var(--color-brand-1);
  text-transform: capitalize;
  font-weight: 400;
}

.TimeBox {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.TimeBox > button {
  background-color: transparent;
  cursor: pointer;
  font-size: 1.8rem;
  outline: none;
  border: none;
  color: var(--color-brand-2);
  text-transform: capitalize;
}

.TimeBox > button.active {
  color: var(--color-brand-1);
}

@media screen and (min-width: 768px) {
  .UserCardBox {
    width: 100%;
    height: 100%;
  }
  .UserCardBox-UserBox {
    grid-template-columns: 1fr;
  }

  .UserCardBox-UserBox-UserName {
    font-size: 3.5rem;
    line-height: 5rem;
    width: 15rem;
    margin: 1.8rem 0;
  }

  .TimeBox {
    display: block;
  }

  .TimeBox > button {
    display: block;
    margin-bottom: 1rem;
  }
}
